

[class^=ctrl] {
    height: 30px;
    width: 30px;
    border: 1px solid blue;
}

.container {
    display: grid;
    justify-items: stretch;
    grid-template-rows:
        [head-start] 1fr
        [head-end grid-start] 3fr
        [grid-end];    
    grid-template-areas:
        "head"
        "patch-grid"

}

.patchGrid {
    display: grid;
    grid-area: patch-grid;
    grid-template-rows:
        [ctrl-r1] 1fr
        [ctrl-r2] 1fr
        [ctrl-r3] 1fr
        [ctrl-r-end];
    grid-template-columns:
        [ctrl-c1] 1fr
        [ctrl-c2] 1fr
        [ctrl-c3] 1fr
        [ctrl-c-end];
    grid-template-areas:
        "ctrl-1 ctrl-2 ctrl-3"
        "ctrl-4 ctrl-5 ctrl-6"
        "ctrl-7 ctrl-8 ctrl-9"
}

.newColor {
    grid-area: head;
    border: 2px solid black;
    height: 30vh;
    /*width: 300px; */
}
/* 
.ctrl-1{
    grid-area: ctrl-1;
}
.ctrl-2 {
    grid-area: ctrl-2;
}

.ctrl-3 {
    grid-area: ctrl-3
} */